<form class="insult-form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select [(ngModel)]="selectedOperation" name="selectedOperation" class="form-control">
          <option selected disabled value="">Select Insult</option>
          <option *ngFor="let o of operations" [ngValue]="o">{{o.name | slice:0:30}}</option>
        </select>
      </div>
      
      <div class="form-group" *ngIf="selectedOperation">
        <button (click)="insult()" class="btn btn-primary">Insult</button>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngFor="let f of selectedOperation.fields; let i = index" class="form-group">
        <input [(ngModel)]="fields[i]" name="fields[i]" class="form-control" placeholder="{{f.name}}"/>
      </div>
    </div>
  </div>
</form> 
<div class="insult">
  <h1>{{insultMessage}}</h1>
  <p>{{insultSubtitle}}</p>
</div>
<div *ngIf="insultMessage">
  <p>Send an Insult:</p>
  <form>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="insultUrl" name="insultUrl" id="copy-input" disabled>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Copy to Clipboard" (click)="copyToClipboard">
          <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </form>
</div>