<h1>Insultagram</h1>
<form #insultForm="ngForm" class="insult-form" (submit)="insult()" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Insult</label>
        <select [(ngModel)]="selectedOperation" name="selectedOperation" class="form-control">
          <option selected disabled value="">Select Insult</option>
          <option *ngFor="let o of operations" [ngValue]="o">{{o.name | slice:0:30}}</option>
        </select>
      </div>
      
      <div class="form-group" *ngIf="selectedOperation">
        <button type="submit" [disabled]="!fieldsAreValid()" class="btn btn-block btn-primary">Create Insultagram</button>
      </div>
    </div>
    <div class="col-md-6" *ngIf="selectedOperation">
      <div *ngFor="let f of selectedOperation.fields; let i = index" class="form-group">
        <label>{{f.name}}</label>
        <input [(ngModel)]="fields[i]" name="fields[i]" class="form-control" placeholder="{{f.name}}"/>
      </div>
    </div>
  </div>
</form> 
<div *ngIf="insultMessage" class="insult">
  <hr/>
  <h2>{{insultMessage}}</h2>
  <p>{{insultSubtitle}}</p>
  <hr/>
</div>

<form id="sendInsult" *ngIf="insultUrl" >
  <div class="form-group">
      <p>Send this Insultagram <span *ngIf="insultee"> to {{insultee}}</span></p>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="insultUrl" name="insultUrl" id="copy-input" disabled>
        <div id="copy-input-button" class="input-group-addon" (click)="copyToClipboard()" title="Copy insult to clipboard"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></div>
      </div>
  </div>
</form>