<h1>Insultagram</h1>
<form #insultForm="ngForm" class="" (submit)="insult()" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
          <label *ngFor="let o of operations" [attr.is-selected]="selectedOperation == o">
            <input type="radio" [(ngModel)]="selectedOperation" name="selectedOperation" [value]="o" />
            {{o.name | truncate:27}}
          </label>
      </div>
    </div>
  </div>
  <div id="fieldContainer" class="row">
    <div class="col-md-4 col-md-offset-4" *ngIf="selectedOperation">
      <div *ngFor="let f of selectedOperation.fields; let i = index" class="form-group">
        <label>{{f.name}}</label>
        <input [(ngModel)]="fields[i]" name="fields[i]" class="form-control" placeholder="{{f.name}}"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group" *ngIf="selectedOperation">
        <button type="submit" [disabled]="!fieldsAreValid()" class="btn btn-block btn-primary">Create Insultagram</button>
      </div>
    </div>
  </div>
</form> 
<div *ngIf="insultMessage" class="insult">
  <hr/>
  <h2>{{insultMessage}}</h2>
  <p>{{insultSubtitle}}</p>
  <hr/>
</div>

<form id="sendInsult" *ngIf="insultUrl">
  <div class="form-group">
      <p *ngIf="insultee">Send this Insultagram to {{insultee}},<br/>{{insulterDescription}}.</p>
      <p *ngIf="!insultee">Send this Insultagram,<br/>{{insulterDescription}}.</p>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="insultUrl" name="insultUrl" id="copy-input" disabled>
        <div id="copy-input-button" class="input-group-addon" (click)="copyToClipboard()" title="Copy insult to clipboard"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></div>
      </div>
  </div>
</form>