.insult{
    text-align: center;
}

.insult h1 {
    font-size: 13vh !important;
}

.site-wrapper-inner {
    vertical-align: middle;
}

h1:hover {
    cursor: pointer;
}

#sendInsultagramButton {
    margin-top: 50px;
}